/*
Theme Name: Bee's Design
Theme URI: http://beesdesign.net
Version 1.0
Author: Malik Browne
*/

*{
margin: 0;
padding: 0;
}

html {
overflow-y:hidden;
}

#main{
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
overflow:hidden;
}

#main:before {
	content: '';
	position: fixed;
	width: 100%;
	height: 100%;
	background: #FDFFD1;
	z-index: -1000;
	bottom: 0;
}

#ibeloading {
position:fixed;
top:0;
width:100%;
background-color:#FDFFD1;
height:100%;
text-align:center;
overflow:hidden;
z-index:9999;
}

#airplane {
position: relative;
top: 50%;
transform: translateY(-50%);
}

#header {
width:100%;
height:60px;
background-color:#52B702;
position:fixed;
overflow:hidden;
border-bottom: 1px solid #306E00;
-moz-box-shadow:0px 0px 15px 0px #306E00;
-webkit-box-shadow:0px 0px 15px 0px #306E00;
box-shadow:0px 0px 15px 0px #306E00;
z-index:9998;
}

.logofixed{
position:fixed;
top:0px;
z-index:9;
height:60px;
width:100%;
background-color:#52B702;
border-bottom: 1px solid #306E00;
-moz-box-shadow:0px 0px 15px 0px #306E00;
-webkit-box-shadow:0px 0px 15px 0px #306E00;
box-shadow:0px 0px 15px 0px #306E00;
}

.movelogo {
position:fixed;
left:2%;
}

#footer {
width:100%;
height:41px;
overflow:hidden;
background-color:#52B702;
border-top: 1px solid #306E00;
-moz-box-shadow:15px 0px 15px 0px #306E00;
-webkit-box-shadow:15px 0px 15px 0px #306E00;
box-shadow:15px 0px 15px 0px #306E00;
z-index:100;
position:fixed;
bottom:0;
}

#st-control-1, #st-control-1 + a {
	left: 50%;
}

#st-control-2, #st-control-2 + a {
	left: 60%;
}

#st-control-3, #st-control-3 + a {
	left: 70%;
}

#st-control-4, #st-control-4 + a {
	left: 80%;
}

#st-control-5, #st-control-5 + a {
	left: 90%;
}

.scroll {
top: 0;
left: 0;
transition: all 0.6s ease-in-out;
-webkit-transform: translate3d(0, 0, 0);
-webkit-backface-visibility: hidden;
}

.scroll, .panel{
margin:auto;
position: relative;
width: 100%;
height: 100%;
font-family: Tahoma;
background: #FDFFD1;

}

.panel {
overflow:hidden;
}

#wrapper{
width:920px;
height:768px;
margin:auto;
overflow:hidden;
}

.container {
width:920px;
height:616px;
margin: auto;
position: absolute;
top: 0; left: 0; bottom: 0; right: 0;
z-index:999;
}

.logo {
height:60px;
float:left;
}

#date {
height:100%;
position:relative;
font-family: 'Open Sans Condensed', sans-serif;
font-weight:bold;
font-size:1.5em;
left:1%;
bottom:0;
width:auto;
float:left;
}

#main > input, #main > a {
position:fixed;
font-family: 'Open Sans Condensed', sans-serif;
font-weight:bold;
top:0px;
width:10%;
height:60px;
cursor:pointer;
color: black;
line-height:60px;
text-decoration:none;
font-size:1.1em;
}

#main > input {
opacity:0;
z-index: 1000;
}

#main > a {
z-index:10;
text-align:center;
}

#main > input:checked + a,
#main > input:checked:hover + a{
	background: #193701;
	color:white;
}

#main > input:hover + a{
	background: #193701;
	color:white;
	transition: color 350ms linear;
}


/* Controls*/

#st-control-1:checked ~ .scroll {
    transform: translateY(2%);
	-webkit-transform: translateY(2%);
	-ms-transform: translateY(2%);
}
#st-control-2:checked ~ .scroll {
    transform: translateY(-93%);
    -webkit-transform: translateY(-93%);
    -ms-transform: translateY(-93%);
}
#st-control-3:checked ~ .scroll {
    transform: translateY(-193%);
    -webkit-transform: translateY(-193%);
    -ms-transform: translateY(-193%);
}
#st-control-4:checked ~ .scroll {
    transform: translateY(-297%);
    -webkit-transform: translateY(-297%);
    -ms-transform: translateY(-297%);
}
#st-control-5:checked ~ .scroll {
    transform: translateY(-400%);
    -webkit-transform: translateY(-400%);
    -ms-transform: translateY(-400%);
}

/* End of Controls */
.footerright {
position:relative;
right:1%;
bottom:0px;
height:100%;
text-align:center;
font-weight:bold;
display:inline;
width:auto;
float:right;
}


.right:hover{
background-color:#193701;
}

nav li a span {
color:black;
}

.right:hover a span {
color:white;
transition: color 350ms linear;
}

.contentinfo1{
font-family: Tahoma;
text-shadow: 0 0 1px rgba(51,51,51,0.2);
font-size: .9em;
margin-bottom:10px;
padding:0px 10px 0px 10px;
}

.pagecont {
width:250px;
margin:25px 0px 50px 35px;
float:left;
overflow:hidden;
border: solid 1px #6A2006;
height:260px;
border-top:none;
}

.pagecont1 {
width:250px;
margin:25px 10px 0px 35px;
float:left;
overflow:hidden;
border: solid 1px #6A2006;
height:260px;
border-top:none;
}

.pagecontact {
width:250px;
margin:25px 10px 10px 25px;
float:left;
background-color:#6A2006;
height:260px;
-moz-box-shadow:0px 5px 15px 0px #842C0F;
-webkit-box-shadow:0px 5px 15px 0px #842C0F;
box-shadow:0px 5px 15px 0px #842C0F;
overflow:hidden;
color:white;
}

.copyright{
font-family: 'Open Sans Condensed', sans-serif;
font-weight:bold;
height:100%;
font-size:1.5em;
text-align:right;
}

.contentinfo{
font-family: Tahoma;
text-shadow: 0 0 1px rgba(51,51,51,0.2);
font-size: .9em;
font-weight:300;
margin-bottom:10px;
padding:0px 10px 0px 10px;
}

.contentinfolist{
font-family: Tahoma;
font-size: .9em;
font-weight:300;
margin-bottom:15px;
margin-left:15px;
padding-left:10px;
}

.moreabout {
text-align:center;
color:white;
width: 80px;
padding:15px 10px;
height: 30px;
background-image: -o-linear-gradient(top, #B4B9D9 0%, #1631C3 100%);
background-image: -moz-linear-gradient(top, #B4B9D9 0%, #1631C3 100%);
background-image: -webkit-linear-gradient(top, #B4B9D9 0%, #1631C3 100%);
background-image: -ms-linear-gradient(top, #B4B9D9 0%, #1631C3 100%);
background-image: linear-gradient(to top, #B4B9D9 0%, #1631C3 100%);
}

.moreabout a {
color:white;
text-decoration:none;
}
.littlecontacthead {
font-family: 'Open Sans Condensed';
font-weight:bold;
text-align:center;
font-size:2em;
padding-bottom:10px;
}


.littlecontactinfo {
font-size:.9em;
margin-left:12px;
margin-right:12px;
margin-bottom: 30px;
font-weight:300;
}



.littlecontactinfo1 {
font-size:.9em;
margin-left:12px;
margin-bottom: 5px;
font-weight:300;
}

.navlink {
float:left;
display:block;
padding:5px 5px 5px 15px;
}

.navlink1 {
float:left;
display:block;
padding:5px 5px 5px 5px;
}

.highlight a span{
color:#1631C3!important;
}

.highlight:hover a span{
color:white!important;
}

/*About Page*/

.aboutwrap {
height:100%;
padding-bottom:50px;
border-bottom:1px solid;
overflow:hidden;
}



.abouthead{
width:616px;
height:325px;
float:left;
}

.horizrule
{
height:320px;
border-bottom:1px solid #6A2006;
}

.circle {
width:300px;
height:300px;
border-radius:50%;
overflow:hidden;
float:left;
background-image:url('http://www.beesdesign.net/images/headshot.png');
}

.aboutwrap {
width:100%;
overflow:hidden;
}

.circle-whoami {
margin-top:17px;
width:175px;
height:175px;
border:solid;
border-radius:50%;
overflow:hidden;
float:left;
border-color:#FDFFD1;
text-align:center;
background-color:#6A2006;
position:relative;
}

.textcentercircle {
margin-top:72px;
color:white;
font-size:1.4em;
}

.littleaboutme {
font-size:1.5em;
text-align:left;
font-family: 'Lato', sans-serif;
text-shadow: 0 0 1px rgba(51,51,51,0.2);
font-style:italic;
font-weight: 700;
float:left;
}

.about-whoami {
margin-top:17px;
margin-left:40px;
width:675px;
height:173px;
border: 1px solid;
float:left;
border-color:#FDFFD1;
overflow:hidden;
position:relative;
}

.images {
width:716px;
height:225px;
}

.banner {
width: 250px;
height:66px;
}

.firstname {
padding-left:60px;
font-family: 'Anton', sans-serif;
font-size:4.5em;
}

.lastname {
margin-top:-30px;
padding-left:60px;
font-family: 'Anton', sans-serif;
font-size:4.5em;
}

.me {
padding-left:60px;
font-family: 'Anton', sans-serif;
font-size:2em;
}

.headshot {
width:300px;
height:300px;
}

/* Projects */

.containerportfolio {
width:620px;
height:716px;
margin: auto;
position: absolute;
top: 0; left: 0; bottom: 0; right: 0;
margin:auto;
}

.projectpic {
width:240px;
height:200px;
overflow:hidden;
border:solid white;
float:left;
margin:15px 0px 0px 40px;
-moz-box-shadow:0px 5px 15px 0px #828181;
-webkit-box-shadow:0px 5px 15px 0px #828181;
box-shadow:0px 5px 15px 0px #828181;
}

.contentwrap {
height:500px;
overflow:hidden;
margin:auto;
width:620px;
}

.projecthead {
width:95%;
font-family: 'Anton', sans-serif;
font-size:3em;
text-align:right;
color:#6A2006;
}

.portfolioimg {
width:240px;
height:200px;
}

/* Services */

.serviceshead {
font-family: 'Anton', sans-serif;
font-size: 3em;
padding-left:25px;
color:#6A2006;
text-align:right;
}

.servicethreewrapper {
width:930px;
height:648px;
margin:auto;
}

.service {
width:100%;
height:165px;
overflow:hidden;
}

.serviceimage {
width:225px;
height:150px;
float:left;
margin-right:10px;
}

.servicesmallimg {
width:225px;
height:150px;
}

.servicetext {
margin-right:10px;
text-align:left;
font-family: 'Lato', sans-serif;
text-shadow: 0 0 1px rgba(51,51,51,0.2);
font-size: 1.1em;
overflow:hidden;
height:150px;
font-style:italic;
font-weight: 700;
}

.servicetexthead {
margin-right:10px;
font-family: 'Lato', sans-serif;
text-shadow: 0 0 1px rgba(51,51,51,0.2);
font-size:1.8em;
font-style:italic;
font-weight: 700;
}

.contactmeform {
width:50%;
height:100%;
float:left;
font-family: 'Open Sans Condensed', sans-serif;
font-weight:bold;
}

.otherinfo {
width:49%;
height:auto;
border:solid 1px #6A2006;
float:left;
overflow:hidden;
}

.contacthead {
font-family: 'Anton', sans-serif;
font-size: 3em;
padding-left:25px;
color:#6A2006;
text-align:right;
}
.forminfo {
padding-left:2px;
border-radius:5px;
height:2.5em;
margin:10px;
}
.labels {
font-size:2em;
font-weight: 300;
margin:10px;
display:block;
}
.submit{
height:2.5em;
margin:10px;
background-color:#6A2006;
width:80px;
color:white;
}
textarea {
border-radius:5px;
margin:10px;
display:block;
}

.google-maps {
        position: relative;
        padding-bottom: 100%;
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
