/* 

Theme Name: Bee's Design
Theme URI: http://beesdesign.net
Version 1.0
Author: Malik Browne

*/

*{
	margin: 0;
	padding: 0;
}

html,body {
	overflow-x:hidden;
	height:100%;
	-webkit-overflow-scrolling: touch;
}

#main{
	width: 100vw;
	height:100%;
	background: #F6FFE0;
}

.nopadding {
	padding:0 !important;
}
/*
#ibeloading {
	position:fixed;
	top:0;
	width:100%;
	background-color:#F6FFE0;
	height:100%;
	text-align:center;
	overflow:hidden;
	z-index:9999;
}

#airplane {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}*/

/*--- NAVBAR CSS ---*/

#main .navbar-default {
	background-color:#52B702;
	background-image:url('/images/background.png');
	border:none;
	
}

#main .navbar {
	margin:0;
}

#main .navbar-brand{
    display: inline-block;
    font-size:24px;
    font-weight:700;
    color: #0C1E0F;
	background:transparent !important;
}

#main .nav a
{
    padding:10px 20px;
    font-size:20px;
	font-family: 'Raleway', sans-serif;
    line-height:50px;
    font-weight:500;
    background:transparent;
    color:#0C1E0F;
}
#main .nav a:hover{
	background-color: #193701;
	color:#fff;
	transition: color .3s ease-in-out;
	transition: background-color .3s ease-in-out;
}

#main .nav a.link.active {
	background-color: #193701;
	color:#fff;
}

.navbar-default .navbar-brand{
	padding: 5px 0px 15px 30px;
	height:60px;
}

.navbar-default .navbar-toggle:focus {
	background-color:#193701 !important;
}

.navbar-default .navbar-toggle:hover {
	background-color:#193701 !important;
}

/*--- HOME PAGE CSS ---*/

#home{
	margin:auto;
	position: relative;
	width: 100vw;
	height: auto;
	font-family: 'Open Sans', sans-serif;
	background-color: #F6FFE0;
	overflow:hidden;
}

#home .jumbotron {
	margin: 60px 0px 0px 0px;
	background-color:#21512B;
	font-family: 'Raleway', sans-serif;
	border-radius: 0px 0px 6px 6px;
}

#home .jumbotron h1{
	color:#e2ffc9;
	text-align:center;
	font-weight:700;
}
#home .jumbotron h2{
	color:#e2ffc9;
	text-align:center;
	font-weight:400;
}


.row h2 {
	color: #0C1E0F;
	text-align:center;
	padding-top:20px;
	font-size: 23px;
}
.row p {
	font-size:15px;
	color: #0C1E0F;
}

.row .middle h2 {
	text-align:center;
}

.row .middle:hover .contactbtn {
	background-color:#21512B;
	color:#e2ffc9;
	transition: background-color .4s ease-in-out;
}

p .contactbtn {
	color:#0C1E0F;
	padding:10px;
	display:block;
	width:105px;
	margin:auto;
	text-align:center;
}

p .contactbtn:hover {
	text-decoration: none;
}

.row .right ul {
	padding-left:30px;
	font-size: 15px;
	color: #0C1E0F;
}

.row .right h2 {
	text-align:center;
}

.container hr {
	height:1px;
	border:0;
	border-top:1px solid #21512B;
}

/*--- ABOUT PAGE CSS ---*/

#about{
	margin:auto;
	position: relative;
	font-family: 'Open Sans', sans-serif;
	background-color: #F6FFE0;
	overflow:hidden;
	padding-bottom:20px;
}

#about p {
	font-size:15px;
}

.abouttitle {
	margin-top:60px;
	padding-top:10px;
	background-color: #193701;
}

.abouttitle h1 {
	color:#e2ffc9 !important;
	font-size:50px !important;
	padding-bottom:25px;
	font-family: 'Raleway', sans-serif;
	font-weight:700;
}

#about h1,#about p {
	color:#0C1E0F;
}

#about h1 {
	font-family: 'Raleway', sans-serif;
	font-size:28px;
}

#about hr {
	height:1px;
	border:0;
	border-top:1px solid #E8E7C0;
}

#about a {
	font-weight:bold;
	color:#0C1E0F;
}

#about .thumbnail {
	display:inline-block;
}

#about .panel{
	margin-top:25px;
	background:transparent;
}

#about table, #about table tr td{
	border-color:#D6E9C6;
}

#about .panel-body {
	font-size:15px;
}

#about .panel-heading {
	font-family: 'Raleway', sans-serif;
	font-weight:bold;
	font-size:16px;
}

.picright {
	float:right;
}

#footer {
	width:100%;
	height:41px;
	overflow:hidden;
	background-color:#52B702;
	background-image:url('/images/background.png');
	border-top: 1px solid #306E00;
	-moz-box-shadow:15px 0px 15px 0px #306E00;
	-webkit-box-shadow:15px 0px 15px 0px #306E00;
	box-shadow:15px 0px 15px 0px #306E00;
	z-index:100;
	bottom:0;
	color:black;
	position:absolute;
}

/*--- PROJECTS ---*/

#projects{
	margin:auto;
	position: relative;
	height: auto;
	font-family: 'Open Sans', sans-serif;
	background-color: #F6FFE0;
	overflow:hidden;
}

#projects hr {
	height:1px;
	border:0;
	border-top:1px solid #E8E7C0;
}

.projecttitle {
	margin-top:60px;
	padding-top:10px;
	background-color: #193701;
}

.projecttitle h1 {
	color:#e2ffc9;
	font-size:50px;
	padding-bottom:25px;
	font-family: 'Raleway', sans-serif;
	font-weight:700;
}

.projectthumbnails {
	padding-top:25px;
	overflow: hidden;
}

#projects .thumbnail {
	box-shadow:0px 2px 4px #193701;
}

#projects .thumbnail .img-rounded {
	height:274px;
}

#projects .img-rounded {
	border-radius:4px;
}

.greyborder {
	border:1px solid #999;
}

.resize {
	display:inline-block; 
	float:right; 
	font-size:24px;
}

.caption h4 {
	margin-top:0px;
	margin-bottom:0px;
	float:left;
}

.caption p {
	color:#666;
	margin-bottom:0px;
	display:inline-block;
	float:left;
}

#services{
	margin:auto;
	position: relative;
	width: 100vw;
	height: 100vh;
	font-family: 'Open Sans', sans-serif;
	background-color: #F6FFE0;
	overflow:hidden;
}

/*--- CONTACT PAGE ---*/

#contact{
	margin:auto;
	position: relative;
	height: auto;
	font-family: 'Open Sans', sans-serif;
	background-color: #F6FFE0;
	overflow:hidden;
}

.contacttitle {
	margin-top:60px;
	padding-top:10px;
	background-color: #193701;
}

.contacttitle h1 {
	color:#e2ffc9;
	font-size:50px;
	text-align:center;
	padding-bottom:25px;
	font-family: 'Raleway', sans-serif;
	font-weight:700;
}

#contact .row {
	padding:75px 0px 95px 0px;
}

#contact .rowleft {
	padding:0px 15px;
}

#contact .container h1 {
	text-align:right;
	text-transform:uppercase;
	color:#0C1E0F;
	font-size:60px;
}

.rowleft p {
	text-align:right;
	font-size:22px;
}

#ajax-contact .field label {
	display:none;
}

#ajax-contact #name, #ajax-contact #email {
	height:46px;
	line-height:32px;
	font-weight:100;
	padding-left:60px;
	margin-top:20px;
	box-shadow:0px 1px 2px #193701;
}

#ajax-contact #message {
	padding-left:60px;
	margin-top:20px;
	box-shadow:0px 1px 2px #193701;
}

.field button {
	margin-top:20px;
	border:none;
	background-color: #193701;
	color:#e2ffc9;
	padding:10px 0px;
	border-radius:2px;
	box-shadow:0px 1px 2px #193701;
}

.field button:hover {
	background-color: #1F4401;
}

.thankyou {
	border: 1px solid #193701;
	margin-top:50px;
	padding:50px;
}

#map-canvas {
	width:100vw;
	height:500px;
	margin:0px auto;
}

.maptext {
	font-size:18px;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color: #999;
    opacity: .8;
    font-size:22px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #999;
   opacity: .8;
   font-size:22px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #999;
   opacity: .8;
   font-size:22px;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: #999;
   opacity: .8;
   font-size:22px;
}

.wrapper{
	width:989px;
	height:768px;
	margin:auto;
	overflow:hidden;
}

.container3 {
	width:998px;
	height:616px;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	z-index:999;
}

.containerportfolio {
	width:998px;
	height:716px;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

#date {
	height:100%;
	position:relative;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight:bold;
	font-size:1.5em;
	left:12%;
	bottom:0;
	width:auto;
	float:left;
}

.footerright {
	position:relative;
	right:12%;
	bottom:0px;
	height:100%;
	text-align:center;
	font-weight:bold;
	display:inline;
	width:auto;
	float:right;
}

@media (max-width: 1281px) {
	#contact .row {
	padding:35px 0px 55px 0px;
}
}

@media (max-width: 361px){
	.navbar-brand.link, .link img{
		max-width:75%;
	}

	.navbar-default .navbar-brand  {
		padding-left:0;
		margin-left:10px;
	}

	.navbar-default .navbar-collapse {
		border:none;
	}

	#main .navbar-default .navbar-toggle {
		border-color: #0C1E0F;
	}

	#main .navbar-default .navbar-toggle .icon-bar {
		background-color:#0C1E0F;
	}

	#main .navbar-default .navbar-toggle:focus .icon-bar {
		background-color:#e2ffc9;
	}

	#main .navbar-default .navbar-toggle:focus {
		border-color:#e2ffc9;
	}
	
	#home{
		height:auto;
	}

	.row .left, .row .middle, .row .right {
		padding-left:20px;
		margin: 15px;
		background-color:#DDE5CA;
		border: 1px solid #B8BFA8;
		border-radius:5px;
	}

	.row .middle p, .row .left p, .row .right p {
		text-align:left;
	}

	p .contactbtn {
		width:105px;
		margin:auto;
		text-align:center;
	}

	#main .nav a {
    padding:10px 20px;
    font-size:18px;
	font-family: 'Raleway', sans-serif;
    line-height:40px;
    font-weight:700;
    background:#52B702;
    background-image:url('/images/background.png');
    color:#0C1E0F;
    text-align:center;
	}
	#main .nav a:hover {
	background-color: #193701;
	color:#fff;
	}

	#main .navbar-nav {
		margin:0px -15px;
	}

	.row h2 {
		margin-top:0px;
	}

	#home .jumbotron h2{
	color:#e2ffc9;
	text-align:center;
	font-size:27px;
	}

	.container .col-md-8 {
		padding:none;
	}

	.wwb, .og, .mbts {
		padding: 0px 10px;
		margin: 15px 0px;
		background-color:#DDE5CA;
		border: 1px solid #B8BFA8;
		border-radius:5px;
	}

	#about hr {
		border-color:#0C1E0F;
		margin:15px 0px;
	}

	#about .thumbnail {
		width:278px;
		height:278px;
		float:none;
	}
	
	#contact .row {
		padding-top:20px;
	}

	#contact .container h1 {
	text-align:center;
	text-transform:uppercase;
	color:#0C1E0F;
	font-size:48px;
	padding-bottom:20px;
	}

	.rowleft p {
	text-align:left;
	font-size:18px;
	}

	.field .input {
		width:100%;
	}

	#ajax-contact #message {
		padding-left:10px;
		padding-right:0 !important;
		width:100%;
	}

	#ajax-contact #name, #ajax-contact #email {
		padding-left:10px;
	}

	#map-canvas {
		height:300px;
	}
}

@media (max-width: 321px) {
	#about .thumbnail {
		width:238px;
		height:238px;
	}
}